@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* ligth */
@font-face {
  font-family: 'Neometric';
  src: url('/fonts/Neometric-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* regular */
@font-face {
  font-family: 'Neometric';
  src: url('/fonts/Neometric-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Bold */
@font-face {
  font-family: 'Neometric';
  src: url('/fonts/Neometric-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: 'Neometric';
  src: url('/fonts/Neometric-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* ExtraBlack */
@font-face {
  font-family: 'Neometric';
  src: url('/fonts/Neometric-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@theme {
  --color-azul: #105afb;
  --color-verde: #b5ff63;
  --color-verde-oscuro:#07cc59;  
  --color-morado:#bc5ffb;
  --color-rojo:#ea2747;
  --color-naranjo:#fe5c20;
   --color-amarillo:#fef200;

  --font-neometric: "Neometric", sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}
@layer utilities {
  .text-xxs {
    font-size: 11px;
  }
    .text-xxxs {
    font-size: 10px;
  }
    .text-mxs {
    font-size: 14px;
  }

}

@media (max-width: 320px) {
  .text-xxs-320 {
    font-size: 11px;
  }
    .text-xxxs-320 {
    font-size: 9.9px;
  }

    .text-mxs-320 {
    font-size: 13.5px;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neometric);
}
@layer utilities {
  .z-60 {
    z-index: 60;
  }
  .z-70 {
    z-index: 70;
  }
}